---
---

@import "{{ site.theme }}";

iframe.autoresize {
    width: 100%;
    // height is handled by https://github.com/davidjbradshaw/iframe-resizer
}

nodisplay {
    display: none;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $header-heading-color;
  }
}
