---
---

@import "{{ site.theme }}";

iframe.autoresize {
    width: 100%;
    // height is handled by https://github.com/davidjbradshaw/iframe-resizer
}

nodisplay {
    display: none;
}

.site-title {
    &,
    &:visited {
        color: $header-heading-color;
    }
}

