<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>

        {% if site.google_analytics %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', '{{ site.google_analytics }}');
        </script>
        {% endif %}
        <meta charset="UTF-8">

        {% seo %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#157878">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        {% feed_meta %}


        <script>
         /* https://www.w3schools.com/js/js_cookies.asp*/
         function setCookie(cname, cvalue, exdays) {
             var d = new Date();
             d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
             var expires = "expires="+d.toUTCString();
             document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
         }

         function getCookie(cname) {
             var name = cname + "=";
             var ca = document.cookie.split(';');
             for(var i = 0; i < ca.length; i++) {
                 var c = ca[i];
                 while (c.charAt(0) == ' ') {
                     c = c.substring(1);
                 }
                 if (c.indexOf(name) == 0) {
                     return c.substring(name.length, c.length);
                 }
             }
             return "";
         }
        </script>

    </head>
    <body>
        <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

        <header class="page-header" role="banner">
            <h1 class="project-name no-anchor"><a href="{{ "/" | relative_url }}" class="site-title">{{ site.title | default: site.github.repository_name }}</a></h1>
            <!-- <h2 class="project-tagline no-anchor">{{ site.description | default: site.github.project_tagline }}</h2> -->
            <h2 class="project-tagline no-anchor">{{ page.title }}</h2>
            {% if site.github.is_project_page %}
            <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
            {% endif %}
            {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
            {% endif %}
        </header>

        <main id="content" class="main-content" role="main">
            {{ content }}

            <footer class="site-footer">
                {% if site.github.is_project_page %}
                <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
                {% endif %}
                <!-- <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span> -->
                <span><a class="page-source-link" href="{{ site.page_source_prefix }}/{{ page.path }}">page source</a></span>
            </footer>
        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.1.1/anchor.min.js"></script>
        <script>anchors.add().remove(".no-anchor");</script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.15/iframeResizer.min.js"></script>
        <script>iFrameResize({log:false}, 'iframe.autoresize')</script>

        <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
             TeX: {
                 extensions: ["color.js"],
                 Macros: {
                     emptyset: "\\varnothing"
                 }
             },
             tex2jax: {
                 inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                 displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                 processEscapes: true
             }
         });
        </script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    </body>
</html>
